/* NAV BAR */
#nav, #admin_nav{
    position: sticky; top: 0
}

nav .nav_logo {
    background-color: #afceee;
    height: 100px;
    text-align: center;
}

nav .nav_logo img{
    height: 75px;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    background-color: #d7e7f6;
    /* float: left; */
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
    box-shadow: 0 2px 5px -2px #4c5d6d;
}

nav ul a{
    text-decoration: none;
    color: #4c5d6d;
    padding: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #afceee;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

nav ul a:hover{
    background-color: #afceee;
    border-radius: 10px;
    color: black;
}

/* #nav_first_li{
    margin-left: 5%;
}

#nav_last_li{
    margin-right: 5%;
} */

.checkbtn {
    font-size: 35px;
    color: #4c5d6d;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#nav_check{
    display: none;
}

@media(max-width: 719px){
    .checkbtn{
        display: block;
    }

    #nav_logo img{
        float: left;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        right:-100%;
        transition: ease 1s;
    }

    nav ul li{
        display: block;
        margin: 50px;
    }

    #nav_check:checked ~ ul{
        right: 0;
    }
}


/*COMMON ELEMENTS/CLASSES*/
/* use for large image on beginning of page */
.hero_img{
    background-image: url("../Images/placeholder_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 600px;
    margin-bottom: 0px;  
}

/* use for description of page */
.title_card{
    background-color: #d7e7f6;
    text-align: center;
}

.title_card p{
    padding: 15px;
    color: #4c5d6d;
    font-size: 20px;
    margin-bottom: 0px;
}

.title_card h1{
    color: #4c5d6d;
    padding: 15px;
    margin-bottom: 0px;
}

/* use to evenly distribute children */
.evenly_distribute_children{
    display: flex;
    justify-content: space-between;
}

/* section below description */
.content{
    text-align: center;
}

.content h2{
    color: #4c5d6d;
   
    margin-bottom: 25px;
}

/* ADOPTION PAGES */
/* green cards */

.card_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_col{
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_sqaure{
    background-color: #c8f0d5;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    margin: 0px;
    border-radius: 30px;
    transition: ease 1s;
}

.icon_sqaure_link{
    text-decoration: none;
    color:#4c5d6d;
}

.icon_sqaure_link:hover{
    text-decoration: none;
    color: #4c5d6d;
}

.icon_sqaure a:visited{
    text-decoration: none;
    color: #4c5d6d;
}

.icon_sqaure:hover{
    cursor: pointer;
}

.icon_sqaure img{
    width: 200px;
    padding-top:20px;
    transition: ease 1s;   
}

@media(max-width: 1020px){
    .icon_sqaure{
        width: 200px;
        height: 200px;  
    }

    .icon_sqaure img{
        width: 130px;   
    }
}

@media(max-width: 720px){
    .icon_sqaure{
        width: 150px;
        height: 150px;  
    }

    .icon_sqaure img{
        width: 80px;   
    }  

    .hero_img{
        height: 400px;
    } 
}

@media(max-width:574px){
    .card_col{
        width: 100%;
    }
    .icon_sqaure{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;  
    }

    .icon_sqaure img{
        width: 130px;   
    }

    .hero_img{
        height: 200px;
    } 
}


/* dropdowns */
.adopt_dropdowns{
    padding: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

.adopt_dropdowns div{
    display: inline-block;
    width: 25%;
}

.adopt_dropdowns select{
    width: 80%;
}

/* adoption images */
.adopt_imgs{
    text-align: center;
}
.adopt_imgs div{
    width: 250px;
    height: 250px;
    margin: 20px;
    display: inline-block;
    background-image: url("../Images/placeholder_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ---------- Footer--------------- */

.Logo{
    width: 250px;
    height: 130px;
    border-bottom: 2px solid;
    margin-bottom: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.admin_row{
    display: flex;
    justify-content: center;

}

.Footer{
    background-color: #afceee;
    padding: 40px 0;
    font-family: sans-serif;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-col p{
    text-align: center;
    font-weight: 500;
}

.footer-col h4{
    font-size: 22px;
    color: #4c5d6d;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
    
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color:white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover{
    margin-left: 8px;
    font-weight: 600;
    color: #4c5d6d;   
}



.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #4c5d6d;
    font-size: 22px;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #d7e7f6;
}


@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
/* -----------------Settings--------------- */
*{
    padding: 0;
    margin: 0;
}

.toggle{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.toggle-button{
 background-color: #d2d2d2;
 width: 50px;
 height: 25px;
 border-radius: 200px;
 cursor: pointer;
 position: relative;
 transition: 0.2s;
}

.toggle-button::before{
    position: absolute;
    content: '';
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    margin: 1.7px;
    transition: 0.2s;
}

.toggle input:checked + .toggle-button{
    background-color: #afceee;
}

.toggle input:checked + .toggle-button::before{
    transform: translateX(25px);
}

.toggle input{
    display: none;
}

.Button-list{
    display: flex;
    flex-direction: column;
    width: auto;
}

.Button-list button{
    margin-bottom: 30px;
    height: 40px;
    border-radius: 5px;
    border: aliceblue;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #afceee;
    cursor: pointer;
}

.Button-list button:hover{
    background-color: #d7e7f6;
}

.help-link{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 700;
}

/* Admin Login */
.admin_pfp i{
    font-size: 100px;
    color: white;
    z-index: 1;
    padding: 20px;
}

.circle{
    background-color: black;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: -1;
    margin: 50px;
}

.admin_form{
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-bottom: 50px;
}

.admin_form input[type=text], input[type=password]{
    padding: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.admin_form input[type=text]:hover, input[type=password]:hover{
    border: solid 2px black;
}

.admin_form label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

.admin_links{
   text-align: center;
   margin-top: 20px;
}

.admin_links a{
    text-decoration: none;
    font-size: 20px;
    color: #4c5dfa;
}

.admin_links a:hover{
    text-decoration: none;
    color: #37cab6;
}

.admin_btn{
    font-size: 20px;
    padding: 10px;
    width: 60%;
    background-color: #4bcab1;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.admin_btn:hover{
    background-color: #a6ecde;
}

.admin_form div{
    text-align: center;
}
