/* NAV BAR */
#nav, #admin_nav{
    position: sticky; top: 0
}

nav .nav_logo {
    background-color: #afceee;
    height: 100px;
    text-align: center;
}

nav .nav_logo img{
    height: 75px;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    background-color: #d7e7f6;
    /* float: left; */
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
    box-shadow: 0 2px 5px -2px #4c5d6d;
}

nav ul a{
    text-decoration: none;
    color: #4c5d6d;
    padding: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #afceee;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

nav ul a:hover{
    background-color: #afceee;
    border-radius: 10px;
    color: black;
}

/* #nav_first_li{
    margin-left: 5%;
}

#nav_last_li{
    margin-right: 5%;
} */

.checkbtn {
    font-size: 35px;
    color: #4c5d6d;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#nav_check{
    display: none;
}

@media(max-width: 770px){
    .checkbtn{
        display: block;
    }

    #nav_logo img{
        float: left;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        right:-100%;
        transition: ease 1s;
    }

    nav ul li{
        display: block;
        margin: 50px;
    }

    #nav_check:checked ~ ul{
        right: 0;
    }
}


/*COMMON ELEMENTS/CLASSES*/
/* use for large image on beginning of page */
.hero_img{
    background-image: url("../Images/placeholder_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 600px;
    margin-bottom: 0px;  
}

/* use for description of page */
.title_card{
    background-color: #d7e7f6;
    text-align: center;
}

.title_card p{
    padding: 15px;
    color: #4c5d6d;
    font-size: 20px;
    margin-bottom: 0px;
}

.title_card h1{
    color: #4c5d6d;
    padding: 15px;
    margin-bottom: 0px;
}

/* use to evenly distribute children */
.evenly_distribute_children{
    display: flex;
    justify-content: space-between;
}

/* section below description */
.content{
    text-align: center;
}

.content h2{
    color: #4c5d6d;
   
    margin-bottom: 25px;
}

/* ADOPTION PAGES */
/* green cards */

.card_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_col{
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_sqaure{
    background-color: #c8f0d5;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 30px;
    transition: ease 1s;
}

.icon_sqaure_link{
    text-decoration: none;
    color:#4c5d6d;
}

.icon_sqaure_link:hover{
    text-decoration: none;
    color: #4c5d6d;
}

.icon_sqaure a:visited{
    text-decoration: none;
    color: #4c5d6d;
}

.icon_sqaure:hover{
    cursor: pointer;
}

.icon_sqaure img{
    width: 200px;
    padding-top:20px;
    transition: ease 1s;   
}

#info_frame{
    width: 100%;
    height: 600px;
}

.modal_container{
    width: 100%;
}

@media(max-width: 1020px){
    .icon_sqaure{
        width: 200px;
        height: 200px;  
    }

    .icon_sqaure img{
        width: 130px;   
    }
}

@media(max-width: 720px){
    .icon_sqaure{
        width: 150px;
        height: 150px;  
    }

    .icon_sqaure img{
        width: 80px;   
    }  

    .hero_img{
        height: 400px;
    } 
}

@media(max-width:574px){
    .card_col{
        width: 100%;
    }
    .icon_sqaure{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;  
    }

    .icon_sqaure img{
        width: 130px;   
    }

    .hero_img{
        height: 200px;
    } 
}


/* dropdowns */
.adopt_dropdowns{
    padding: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

.adopt_dropdowns div{
    display: inline-block;
    width: 25%;
}

.adopt_dropdowns select{
    width: 80%;
    cursor: pointer;
}

/* adoption images */
.adopt_imgs{
    text-align: center;
}
.adopt_imgs img{
    width: 250px;
    height: 250px;
    margin: 20px;
    display: inline-block;
    object-fit: cover;
    /* background-image: url("../Images/placeholder_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.gallery_imgs{
    text-align: center;
}
.gallery_imgs img{
    width: 350px;
    height: 350px;
    margin: 20px;
    display: inline-block;
    object-fit: cover;}

.pet_pf{
    cursor: pointer;
}


/* ---------- Footer--------------- */

.Logo{
    width: 250px;
    height: 130px;
    border-bottom: 2px solid;
    margin-bottom: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.admin_row{
    display: flex;
    justify-content: center;

}

.Footer{
    background-color: #afceee;
    padding: 40px 0;
    font-family: sans-serif;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}


/* --------------Event Page------------- */

.event-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-col p{
    text-align: center;
    font-weight: 500;
}

.footer-col h4{
    font-size: 22px;
    color: #4c5d6d;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
    
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color:white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover{
    margin-left: 8px;
    font-weight: 600;
    color: #4c5d6d;   
}



.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #4c5d6d;
    font-size: 22px;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #d7e7f6;
}


@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
/* -----------------Settings--------------- */
*{
    padding: 0;
    margin: 0;
}

.toggle{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.toggle-button{
 background-color: #d2d2d2;
 width: 50px;
 height: 25px;
 border-radius: 200px;
 cursor: pointer;
 position: relative;
 transition: 0.2s;
}

.toggle-button::before{
    position: absolute;
    content: '';
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    margin: 1.7px;
    transition: 0.2s;
}

.toggle input:checked + .toggle-button{
    background-color: #afceee;
}

.toggle input:checked + .toggle-button::before{
    transform: translateX(25px);
}

.toggle input{
    display: none;
}

.Button-list{
    display: flex;
    flex-direction: column;
    width: auto;
}

.Button-list button{
    margin-bottom: 30px;
    height: 40px;
    border-radius: 5px;
    border: aliceblue;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #afceee;
    cursor: pointer;
}

.Button-list button:hover{
    background-color: #d7e7f6;
}

.help-link{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 700;
}
.event-details{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 1200px;
    background: #d7e7f6;
    font-family: sans-serif;

}

.event-text h2{
    color: #4c5d6d;
    font-weight: bold;
}

.event-image img{
    width: 500px;
    height: 100%;
    margin-right: 50px;
}

.event-text button{
    background: #4c5d6d;
    color: #d7e7f6;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 76px;
    cursor: pointer;
}



/* ------------------Home page----------- */

body{
    margin: 0;
    font-family: sans-serif;
}

.AboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d7e7f6;
    text-align: center;
    padding: 20px 50px 20px;
}

.AboutUs .heading{
    font-size: x-large;
    font-weight: bold;
}

.contactUs h1{
    text-align: center;
    color: #4c5d6d;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
}

.subscribe h1{
    text-align: center;
    color: #4c5d6d;
    margin-top: 60px;
    /* margin-bottom: 30px; */
    font-size: 40px;
}


.contactUs{
    padding:10px 10px 10px;
}

.flip-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.maincontainer{
    position: relative;
    width: 250px;
    height: 320px;
}



.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #afceee;
    color: #4c5d6d;
}

@media only screen and (max-width: 600px) {
    .event-details{
        flex-direction: column;
        width: 400px;
    }

    .event-image img{
        width: 400px;
    }

    .event-text{
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* Admin Login */
.admin_pfp i{
    font-size: 100px;
    color: white;
    z-index: 1;
    padding: 20px;
}

.circle{
    background-color: black;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: -1;
    margin: 50px;
}

.admin_form{
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-bottom: 50px;
}

.admin_form input[type=text], input[type=password]{
    padding: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.admin_form input[type=text]:hover, input[type=password]:hover{
    border: solid 2px black;
}

.admin_form label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

.admin_links{
   text-align: center;
   margin-top: 20px;
}

.admin_links a{
    text-decoration: none;
    font-size: 20px;
    color: #4c5dfa;
}

.admin_links a:hover{
    text-decoration: none;
    color: #37cab6;
}

.admin_btn{
    font-size: 20px;
    padding: 10px;
    width: 60%;
    background-color: #4bcab1;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.admin_btn:hover{
    background-color: #a6ecde;
}

#login_back_btn{
    background-color: rgba(85, 95, 235, 0.884);
}

#login_back_btn:hover{
    background-color: rgba(134, 169, 235, 0.884);
}

.admin_form div{
    text-align: center;
}

/* Admin Gallery */
.gal_admin_img{
    width: 200px;
    height: 200px;;
    object-fit: cover;
}

.admin_table{
    margin: 20px;
}

.admin_table h2{
    margin-top: 10px;
}

.admin_add_form{
    margin-top: 10px;
}

.add_gallery_form{
    width: 500px;
    margin: auto;
    background-color: #d7e7f6;
    padding: 30px;
    text-align: left;
}

.add_gallery_form label{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.add_gallery_form input[type=file]{
    margin-bottom: 20px;
}

.add_gallery_form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.add_gallery_form img{
    width: 100%;
}

.add_img_btn{
    padding: 10px;
    background-color: #4bcab1;
    border: none;
    border-radius: 5px;
    color: white;
}


.thefront img{
    height: 180px;
    width: 100%;
}

.thefront h2, p{
    text-align: center;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #d7e7f6;
    color: #4c5d6d;
    transform: rotateY(180deg);
    text-align: center;
}

.subscribe-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px 50px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #4c5d6d;
    padding: 30px 30px 30px;
    color: #d7e7f6;
}

.list h2{
    text-align: center;
    /* color: #4c5d6d; */
    text-decoration: underline;
    font-weight: bold;
}



.form form{
    background: #d7e7f6;
    padding: 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.form label{
    bottom: 50px;
    font-weight: bold;
}

.form input{
    width: 250px;
    height: 25px;
}

.form .button{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background: #afceee;
    color: #4c5d6d;
    border: none;
    border-radius: 3px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.form .button:hover{
    background: #4c5d6d;
    color: #afceee;
}


.slider-frame {
    overflow: hidden;
    height: 450px;
    width: 100%;
    position: relative;
}

.slide-images {
    display: flex;
    height: 100%;
    animation: slide_animation 33s infinite alternate;
}

.img-container {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


@keyframes slide_animation {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-100%); }
    80% { transform: translateX(0); }
    100% { transform: translateX(0); }
}


@media only screen and (max-width: 400px){
    .AboutUs img{
        width: 200px;
    }

    .flip-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe-layout{
        display: flex;
        flex-direction: column;
    }

    .slider-frame{
        height: 250px;
    }
}



/* ---------------Donate page---------- */
.donate-body{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.accordion{
    margin: 60px auto;
    width: 600px;
}

.accordion li{
    list-style: none;
    width: 100%;
    margin:20px;
    padding: 10px;
    border-radius: 8px;
    background:#afceee;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15),
                -6px -6px 10px -1px rgba(255,255,255, 0.7);
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.accordion label::before{
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.accordion input[type="radio"]{
    display: none;
}

.accordion .content{
    color: black;
    line-height: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

/* .accordion .donate-content{
    color: black;
    line-height: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
} */


.accordion input[type="radio"]:checked + label + .content{
    max-height: fit-content;
    padding: 10px 10px 20px;
}

/* .accordion input[type="radio"]:checked + label + .donate-content{
    max-height: fit-content;
    padding: 10px 10px 20px;
} */

.accordion input[type="radio"]:checked + label::before{
    content: "-";   
}


.accordion .content .form-content label::before{
    content: none;
}

.accordion .content .form-content form{
    display: flex;
    flex-direction: column;
    background: #d7e7f6;
    padding: 20px;
}

.accordion .content .form-content form label{
    font-weight: bold;
    font-size: medium;
}

.accordion .content .form-content form input{
    height: 30px;
}

.form-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.accordion .content .form-content form .button{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.accordion .content .form-content form .button input[type="button"]{
    width: 150px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background: #4bcab1;
    font-size: medium;
}

.accordion .content .form-content form .button input[type="button"]:hover{
    background: #a6ecde;
}

.accordion .content .form-content img{
    width: 85px;
    height: 40px;
    background: white;
    padding: 5px;
}

.donate-body img{
    width: 100%;
    height: 400px;
}

.donate-body h1{
    color: #4c5d6d;
    text-align: center;
    padding-top: 50px;
}

.accordion .content .zapper-qr{
    width: 200px;
    height: 200px;
}

.accordion .content table{
    border-collapse: collapse;
    width: 100%;
}

.accordion .content td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.donate-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.donate-text{
    text-align: center;
}

.donate-text h2{
    color: #4c5d6d;
    margin-top: 10px;
    margin-bottom: 3px;
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    .accordion{
        width: 300px;
        margin:0 20px;
    }

    .donate-body img{
        width: 100%;
        height: 200px;
    }

    .form-row{
        flex-direction: column;
    }

    .accordion input[type="radio"]:checked + label + .content {
        overflow-x: scroll;
    }
}




/* -----------------Index Page------------------ */
.Home-page{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}

.admin-home-img{
    height: 400px;
}

.admin-home-img img{
    width: 100%;
    height: 100%;
}

.wellcome-msg{
    color: #4c5d6d;
    background: #d7e7f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 90px;
}

.wellcome-msg h2{
    color: black;
}

.admin-catagories{
    padding: 20px 60px;
}

.admin-catagories h1{
    text-align: center;
    padding-bottom: 30px;
}

.admin-catagories{
    padding: 40px 60px;
}

.admin-icon_sqaure{
    background-color: #c8f0d5;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding: 0 20px;
    border-radius: 30px;
}

.icon_sqaure_link{
    text-decoration: none;
    color:#4c5d6d;
}

.icon_sqaure_link:hover{
    text-decoration: none;
    color: #4c5d6d;
}

.admin-icon_sqaure a:visited{
    text-decoration: none;
    color: #4c5d6d;
}

.admin-icon_sqaure:hover{
    cursor: pointer;
}

.admin-icon_sqaure img{
    width: 150px;
}

.admin-evenly_distribute_children{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width: 400px){

    .admin-home-img{
        height: 200px;
    }

    .admin-evenly_distribute_children{
        flex-direction: column;
    }
}
/* -------------- Admin Event Page / Admin pet Page----------------- */


body{
    font-family: sans-serif;
    margin: 0;
}

.admin-home-image img{
    height:400px;
    height: 400px;
    width: 100%;
}

.admin-home-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 150px 100px;
}

.admin-home-buttons input{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
}

.admin-home-buttons .add{
    background:#4bcab1;
    color: white;
}

.admin-home-buttons .remove{
    background:#EA8F8F;
    color: white;
}

.admin-home-buttons .update{
    background:#f4da7a;
    color: white;
}

.admin-home-buttons .add:hover{
    background:#a6ecde;
}

.admin-home-buttons .remove:hover{
    background:#E6ADAD;
}

.admin-home-buttons .update:hover{
    background:#f4e3a5;
}

.admin-home-table tr td img{
    width: 200px;
    height: 250x;
}

.admin-home-table{
    padding: 70px;
}

.admin-home-table table{
    width: 100%;
    border-collapse: collapse;
}

.admin-home-table th{
    background: #4c5d6d;
    color: #d7e7f6;
    font-size: larger;
    font-weight: bold;
}

.admin-home-table td, th{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 400px) {
    .admin-home-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .admin-home-buttons input[type="button"]{
        margin: 10px;
    }

    .admin-home-image img{
        height: 200px;
    }

    .admin-home-table{
        padding: 30px;
        overflow-x: scroll;
    }
}

